@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (this.User.Identity.IsAuthenticated)
{
<form class="form" action="/home/logout" method="post">
    <div class="form__buttons buttons">
        <button type="submit">Logout user</button>
    </div>
</form> }
            else
            {
<form class="form" action="/home/login" method="post">
    <div class="form__buttons buttons">
        <button type="submit">Login user</button>
    </div>
</form>}
