@{
    Layout = null;
}

<script>
    $(() => {
        LoadingPage(1);
        setTimeout(function () {
            LoadingPage(0);
        },1500);
    });
</script>

@await Component.InvokeAsync("AccessToolbar")

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>구매발주코드</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>품목코드</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>품목명</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>거래처 명</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>진척상태</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">True</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">False</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @(Html.DevExtreme().DataGrid()
                    .ID("gridMesOrder")
                    .ShowBorders(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .AllowColumnResizing(true)
                    .AllowColumnReordering(true)
                    .ColumnAutoWidth(true)
                    .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .Columns(c=> {
                        c.Add().Caption("No");
                        c.Add().Caption("구매발주코드");
                        c.Add().Caption("품목코드");
                        c.Add().Caption("품목명");
                        c.Add().Caption("거래처 명");
                        c.Add().Caption("발주 수량");
                        c.Add().Caption("리드 타임 구분");
                        c.Add().Caption("리드 타임");
                        c.Add().Caption("화폐단위");
                        c.Add().Caption("매입단가");
                        c.Add().Caption("공급가격");
                        c.Add().Caption("총액");
                        c.Add().Caption("입고요청일");
                        c.Add().Caption("발주일자");
                        c.Add().Caption("발주자");
                        c.Add().Caption("리드 타임 구분");
                        c.Add().Caption("파트너 입력 리드 타임");
                        c.Add().Caption("계획완료일자");
                        c.Add().Caption("납품일자");
                        c.Add().Caption("진척상태");
                    })
                    .Scrolling(s => s.Mode(GridScrollingMode.Standard))
                    .HeaderFilter(f => f.Visible(true))
                    .Paging(paging => paging.PageSize(20))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(false);
                        pager.AllowedPageSizes(new[] { 20, 50, 100 });
                        pager.ShowInfo(true);
                    })
                )
            </div>
        </div>
    </div>
</div>